# .gitignore file for openlilylib/gruppen.git

# Python files
*.pyc

# Backup files
*.*~
*.bak

# PyCharm project
.idea/*

# Eric4 project
.eric4project/*

# json files
*.json

# auth-usr folder
/auth-usr
